
.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #061E29;
}
.page-header ul {
    list-style-type: none;
}
.page-header a {
    text-decoration: none;
    padding: 15px;
}
.page-header li {
    float: left;
}